DB_HOST=localhost
DB_PORT=5432
DB_NAME=CollabNotesClientServer
DB_USER=postgres
DB_PASSWORD=your_postgres_password_here

JWT_SECRET=run this in terminal to generate: node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"

PORT=3002